##### NOTE ##### 
# This is an example environment file. You must fill in the blank keys that have been removed for security purposes.
# This example .env file is populated with insecure development settings. These should be reset when deploying to production environment.

# openai API Configuration
OPENAI_API_KEY=

# frontend Configuration
CORS_ORIGIN_ALLOW_ALL=True # set to False for prod
FRONTEND_URL=http://localhost:8050

# populate with allowed origins once production is ready
CORS_ALLOWED_ORIGINS=http://backend:8050,http://localhost:8050

# path to locally-saved user content
DATA_PATH=/data/user_images

# django
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=backend,localhost
DJANGO_DEBUG=True # set to False for prod
STATIC_URL=/backend_static/
STATIC_ROOT=/app/staticfiles

# email config (for password resets)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# celery/redis
CELERY_BROKER_URL=redis://redis:6379/0

# jupyterhub
STORYSTUDIO_API_URL=http://backend:8051/

# postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432

# jwt
JUPYTERHUB_CRYPT_KEY=
JWT_ACCESS_COOKIE=access
JWT_REFRESH_COOKIE=refresh
JWT_COOKIE_SECURE=False # Set to True in production
JWT_COOKIE_SAMESITE=Lax
REACT_APP_IMAGE_BASE_URL=/images