__pycache__/
.env
.DS_Store
node_modules
.vscode
data/*
backend/jupyterhub_cookie_secret
backend/jupyterhub.sqlite

# Markdown files
*.md
!README.md

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

*.sh
!docker-down.sh
!docker-up.sh
 
*.txt

# .sql files
*.sql
package-lock.json

nginx/ssl/